.hdp-outer-container .hdp-inner-container,
.hdp-date-cell,
.hdp-month-box {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.42857143;
    color: #333;
}

.hdp-outer-container {
    width: 100%;
    height: 100%;
    min-width: 375px;
    overflow: hidden;
}
.hdp-inner-container {
    position: relative;
    height: calc(
        var(--hdp-month-name-cell-height) + var(--hdp-week-day-cell-height) + var(--hdp-date-cell-height) * 6
    );
    touch-action: none;
}
.hdp-month-box {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: var(--hdp-month-box-width);
}
.hdp-month-name-cell,
.hdp-date-cell,
.hdp-week-day-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hdp-month-name-cell {
    grid-column: 1/8;
    height: var(--hdp-month-name-cell-height);
}
.hdp-week-day-cell {
    align-items: flex-end;
    height: var(--hdp-week-day-cell-height);
}
.hdp-date-cell {
    user-select: none;
    border: none;
    padding: 0;
    height: var(--hdp-date-cell-height);
    outline: none;
}
.hdp-date-cell.disabled {
    color: #3b3b3b40;
}
.hdp-date-cell:not(.disabled) {
    cursor: pointer;
}
.hdp-date-cell:not(.disabled):hover {
    background: #d6d6d6;
}
.hdp-week-day-cell,
.hdp-month-name-cell {
    font-weight: 700;
    color: #4f4e4e;
}
